@import "../../../Styles/main.css";
@import "./../../assets/elementos/footer/footer.css";

/* ------------Header (Portada y foto de perfil) ------------*/
header{
    width: 100%;
    max-width: 100%;
    height: 538px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(10,1fr);
    margin-top: 60px;
}
.header--portada{
    display: grid;
    grid-template-columns: repeat(14,1fr);
    grid-template-rows: repeat(6,1fr);
    width: 100%;
    max-width: 100%;
    height: 400px;
    background-image: url("img/fotoPortada.png");
    background-size: cover;
    grid-column: 1/13;
    grid-row: 1/7;
}
.header--portada--symbolEditCamera{ /*-----------  header--portada--symbolEditCamera ------------------*/
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    background-color: var(--secondaryBg-color);
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
    grid-column: 14/15;
    grid-row: 6/7;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}
.header--portada--symbolEditCamera:hover{
    background-color: var(--hover-color);
}
/*------------------------------  FotoPerfil   -------------------------------- */
.header--fotoPerfil {
    margin: 0px 20px;
    grid-column: 2/5;
    grid-row: 5/9;
    width: 250px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.header--fotoPerfil--img{
    width: 250px;
    position: absolute; 
    grid-column: 3/7;
    grid-row: 3/6;
    
}
.header--fotoPerfil--img img{
    border-radius: 50%;
}
/* .rounded-circle {
    border-radius: 50% !important;
} */
.header--fotoPerfil--symbolEditCamera{  /*------------------ header--fotoPerfil--symbolEditCamera ------------------- */
    z-index: 2;
    height: 60px;
    width: 60px;
    grid-column: 3/4;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: var(--secondaryBg-color);
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}
.header--fotoPerfil--symbolEditCamera:hover{
    background-color: var(--hover-color);
}
/* ------------------------------  Información del perfil de usuario   ------------------------------*/
main{
    padding-top: 0px !important;
}
.profile{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    /* width: auto; */
    /* justify-content: space-between; */
}
.profile--info{
     display: grid;
    /*grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4,1fr); */
    grid-column: 1/9;
    grid-row: 1/3;
}
.profile--info--nombreySeguidores{
    display: flex;
    align-items: center;
    grid-row: 1/2;
}
.profile--info--nombreySeguidores--nombre{
    margin-right: 14px;
    /* max-width: 372px; */
}
.profile--info--nombreySeguidores--nombre h1{
    font-weight: bold;
}
.profile--info--nombreySeguidores--seguidores h5{
    font-weight: bold;
    color: var(--grey);
}
.profile--info--ubicacion{
    margin-top: 16px;
    grid-row: 2/3;
}
.profile--info--enfoque{
    margin-top: 0px;
    display: flex;
}
.profile--info--enfoque--instrumentos{
    margin-right: 60px;
}
.profile--info--enfoque--instrumentos h5{
    font-weight: 500;
}
.profile--info--enfoque--instrumentos p{
    font-weight: bold;
    color: var(--grey);
}
.profile--info--enfoque--generos{
    margin-right: 60px;
}
.profile--info--enfoque--generos h5{
    font-weight: 500;
}
.profile--info--enfoque--generos p{
    font-weight: bold;
    color: var(--grey);
}
.profile--info--demo{
    margin: 15px;
    background-color: var(--black);
    width: auto;  /* modified*/
    height: 110px;
    border-radius: 10px;
    grid-column: 1/9;
    grid-row: 3/4;
}
.profile--info--demo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 28px 15px 22px;
}
.profile--info--demo--img{
    background-image: url('img/perfil-demo-img.jpg');
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.profile--info--demo--titulo h3,
.profile--info--demo--titulo h5{
    color: var(--white);
}
.profile--follow{
    display: flex;
    justify-content: center;
    grid-column: 9/13;
    grid-row: 3/4;
}
.profile--follow--buttons{
    display: flex;
    justify-content: end;
    align-items: center;
}
.profile--follow--buttons--seguidores{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
    width: 100px;
}
.profile--follow--buttons--siguiendo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
    width: 100px;
}
.profile--follow--buttons--donadores{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 5px;
}
.profile--followMensaje{
    grid-column: 9/13;
    grid-row: 2/3;
}
.profile--follow--mensaje{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
h4{
    font-weight: bold;
    margin-left: 10px;
}
.profile--follow--redes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile--follow--redes--icon{
    margin: 5px;
}
/* img{
    cursor: pointer;
    border-radius: 50%; 
 } */
.imagen--compasApp{
    cursor: pointer;
}
.profile--info--editSymbol{ /* ----------    Symbol Profile Info   --------------  */
    grid-column: 12/13;
    grid-row: 1/2;
}
.symbol-edit{
    color: var(--hover-color);
    background-color: var(--secondaryBg-color);
    margin: 25px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.symbol-edit:hover{
    background-color: var(--grey);
}

/* @media screen and (max-width: 764px){
    .profile{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(3,1fr);
    }
} */
@media screen and (max-width: 886px){
    .profile{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .boton {
        display: inline-block;
        padding: 8px 16px;
        font-size: 8px;
        font-weight: 500;
        /* text-align: center;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s; */
    }
    .profile--info--demo{
        height: 100px;
    }
    .profile--info--demo--titulo{
        height: 80px;
    }
    .profile--info--demo--titulo h3,
    .profile--info--demo--titulo h5{
        font-size: 16px;
    }
    .profile--info--demo--play--icon{
        width: 30px;
        margin-left: 5px;
    }
    .profile--info--demo--img{
        width: 70px;
        height: 70px;
        margin: 0 5px 0 0;
    }
}
@media screen and (max-width: 668px){
    header{
        width: 100%;
        max-width: 100%;
        height: 250px; /*----------------------------*/
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(10,1fr);
        margin-top: 60px;
    }
    .header--portada{
        display: grid;
        grid-template-columns: repeat(14,1fr);
        grid-template-rows: repeat(6,1fr);
        width: 100%;
        max-width: 100%;
        height: 150px;   /*----------------------------*/
        background-image: url("img/fotoPortada.png");
        background-size: cover;
        grid-column: 1/13;
        grid-row: 1/7;
    }
    .header--fotoPerfil {
        grid-column: 1/5;  /*----------------------------*/
        grid-row: 4/9;  /*----------------------------*/
        width: 150px;  /*----------------------------*/
        height: 150px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .header--fotoPerfil--img{
        width: 150px;   /*----------------------------*/
        position: absolute; 
        grid-column: 3/7;
        grid-row: 3/6;
        
    }
    .header--portada--symbolEditCamera{ /*-----------  header--portada--symbolEditCamera ------------------*/
        height: 40px;
        width: 40px;
        font-size: 30px;
    }
    .header--fotoPerfil--symbolEditCamera{
        height: 40px;
        width: 40px;
        font-size: 30px;
    }
    .profile{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(3,1fr) .5fr 1fr;
    }
    .profile--info{
        display: grid;
       grid-column: 1/7;
       grid-row: 1/3;
   }
   .profile--info--nombreySeguidores {
    flex-direction: column;
    align-items: start;
    }
   .profile--info--enfoque--generos{
        margin: 0 10px;
   }
   .profile--info--enfoque--instrumentos{
    margin: 0 10px;
   }
   .profile--info--demo{
    grid-column: 1/7;
    grid-row: 5/6;
    height: 80px;
   }
    .profile--info--editSymbol{ /* ----------    Symbol Profile Info   --------------  */
        grid-column: 6/7;
        grid-row: 1/2;
    }
    .symbol-edit{
        color: var(--hover-color);
        background-color: var(--secondaryBg-color);
        margin: 5px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .profile--follow--buttons{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile--follow--buttons--seguidores{
        margin: 5px;
        /* width: 80px; */
    }
    .profile--follow--buttons--siguiendo{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 5px;
        /* width: 80px; */
    }
    .profile--follow--buttons--donadores{
        margin-left: 5px;
        width: 80px;
    }
    .profile--followMensaje{
        grid-column: 1/7;
        grid-row: 3/4;
    }
    .profile--follow{
        display: flex;
        justify-content: center;
        grid-column: 1/7;
        grid-row: 4/5;
        height: 80px;
    }
.profile--follow--redes--icon{
        height: 30px;
        width: 30px;
    }
    .profile--info--demo--titulo h3,
    .profile--info--demo--titulo h5{
    color: var(--white);
    font-size: 16px;
    }
    .profile--info--demo--play--icon{
        width: 30px;
        margin-left: 5px;
    }
    .profile--info--demo{
        padding: 2px;
    }
    .profile--info--demo--img{
        width: 55px;
        height: 60%;
        margin: 0 5px 0 5px;
    }
}


/*-----------------------Sección de sólo los demos-----------------*/
.demos--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ----------Sección de demos   /   Sección de Escenarios------------- */
/* ----------Sección de demos   /   Sección de Escenarios------------- */
.escenarios,
.demos {
    margin-top: 90px;
    /* display: none; */
}

.escenarios hr,
.demos hr {
    margin-top: 16px;
    margin-bottom: 32px;
}

.escenarios--cards,
.demos--cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.escenarios--cards--item,
.demos--cards--item {
    width: 286px;
    max-width: 286px;
    height: 286px;
    max-height: 286px;
}

.escenarios--cards--item img,
.demos--cards--item img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.escenarios--item,
.demos--item {
    width: 286px;
    height: 286px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.escenarios--item img,
.demos--item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.escenarios--item--info,
.demos--item--info {
    border-radius: 10px;
    position: absolute;
    text-align: center;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.escenarios--item--info .card-title,
.demos--item--info .card-title {
    margin: 0;
    padding: 0;
}

.escenarios--item--info h4 {
    margin-top: 4px;
    margin-bottom: 6px;
}

.escenarios--item--info button,
.demos--item--info button {
    margin-top: 18px;
}

@media screen and (max-width: 768px) {
    .escenarios hr,
    .demos hr {
        margin-bottom: 0px
    }

    .escenarios--cards,
    .demos--cards {
        align-items: start;
        justify-content: left;
    }

    .escenarios--cards--item,
    .demos--cards--item {
        width: 200px;
        max-width: 200px;
        height: 200px;
        max-height: 200px;
    }

    .escenarios--item,
    .demos--item {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 480px) {

    .escenarios--cards--item,
    .demos--cards--item {
        width: 300px;
        max-width: 300px;
        height: 300px;
        max-height: 300px;
    }

    .escenarios--item,
    .demos--item {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 380px) {

    .escenarios--cards--item,
    .demos--cards--item {
        width: 250px;
        max-width: 250px;
        height: 250px;
        max-height: 250px;
    }

    .escenarios--item,
    .demos--item {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 324px) {

    .escenarios--cards--item,
    .demos--cards--item {
        width: 210px;
        max-width: 210px;
        height: 210px;
        max-height: 210px;
    }

    .escenarios--item,
    .demos--item {
        width: 210px;
        height: 210px;
    }
}

/* ------------------------------------   Acerca de    ------------------------------- */
.acerca{
    margin-top: 50px;
}
.acerca--encabezado{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.acerca .linea{
    margin: 16px 0 32px 0;
}
.acerca--info {
    width: auto;
    
} 
.acerca--info p:nth-child(2){
    font-weight: bold;
    color: var(--grey);
    cursor: pointer;
}
.btn-form-acercaDe-primary{
    color: #fff;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
}
.btn-form-acercaDe-primary:hover{
    color: #fff;
    background-color: var(--hover-color);
    border: 2px solid var(--hover-color); 
}
.btn-form-acercaDe-primary:active{
    background-color: var(--active-color) !important;
    border: 2px solid var(--active-color) !important;
}
.btn-form-acercaDe-secondary{
    color: var(--main-color);
    background-color: transparent;
    border: 2px solid var(--main-color);
}
.btn-form-acercaDe-secondary:hover{
    color: var(--hover-color);
    background-color: transparent;
    border: 2px solid var(--hover-color); 
}
.btn-form-acercaDe-secondary:active{
    color: var(--active-color) !important;
    background-color: transparent !important;
    border: 2px solid var(--active-color) !important;
}
.form-control{
    height: 300px;
}

/*----------------------------- Sección Recomendaciones -----------------------------------*/
 /* Sección Reseñas */
 .carousel {
    margin-top: 82px;
}

.carousel-control-next {
    color: black;
}

.resenas {
    margin-top: 90px;
    /* display: none; */
}

.resenas--item {
    padding: 0 180px 0 180px;
}

.resenas--item img {
    width: 100px;
    height: 100px;
    border-radius: 360px;
    object-fit: cover;
}

.resenas--item--info-movil {
    display: block;
    display: flex;
    gap: 24px;
    align-items: end;
    margin-bottom: 24px;
}

.resenas--item--info-movil img {
    width: 60px;
    height: 60px;
}

.resenas--item--info h4 {
    font-weight: bold;
}

.resenas--item--info p {
    font-weight: 400;
}

@media screen and (max-width: 886px) {
    .resenas--item {
        padding: 0 140px 0 140px;
    }
}

@media screen and (max-width: 886px) {
    .resenas--item {
        padding: 0 50px 0 50px;
    }
}

@media screen and (max-width: 576px) {
    .resenas--item {
        padding: 0 20px 0 20px;
    }
}

@media screen and (max-width: 480px) {
    .resenas--item {
        padding: 0 0 0 0;
    }
}


/* ------------Sección similares------------ */

.similares {
    margin-top: 90px;
}

.similares hr {
    margin: 16px 0 32px 0;
}

.similares--item {
    width: 184px;
    height: 400px;
}

.sistem--item--info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.similares--item--info h5 {
    font-weight: bold;
}

.similares--item img {
    width: 100%;
    height: 184px;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px 5px 0 0;
}

.similares--item--info span {
    margin-top: 6px;
}

.similares--item--info span:nth-of-type(2) {
    color: var(--grey);
}

.similares--item--info button {
    margin-top: 25px;
    width: 128px;
    position: absolute;
    bottom: 20px;
}

@media screen and (max-width: 480px) {
    .similares--item {
        width: 300px;
    }
}

@media screen and (max-width: 380px) {
    .similares--item {
        width: 250px;
    }
}

@media screen and (max-width: 324px) {
    .similares--item {
        width: 220px;
    }
}




/* ---------CARRUSEL----------- */
.carousel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel--prevArrow,
.carousel--nextArrow {
    cursor: pointer;
}


.carousel--cards {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    .carousel {
        justify-content: center;
    }

    .carousel--prevArrow,
    .carousel--nextArrow {
        /* visibility: hidden; */
        display: none;
    }

    .carousel--cards {
        padding-bottom: 20px;
        overflow-x: scroll;
        width: 100%;
    }
    .carousel--cards::-webkit-scrollbar{
        width: 8px;
    }
    .carousel--cards::-webkit-scrollbar-track {
        background: transparent;
        /* color of the tracking area */
    }
    
    .carousel--cards::-webkit-scrollbar-thumb {
        background-color: var(--main-color);
        /* color of the scroll thumb */
        border-radius: 20px;
        /* roundness of the scroll thumb */
        border: 3px solid transparent;
        /* creates padding around scroll thumb */
    }
}