@import url("/Styles/main.css");

body
{
    background-color: var(--background-color);
    overflow-y: none;
}
/********************************* Navbar *********************************/
/* Se coloca el color de fondo del cuerpo principal de la navbar, así como su altura predeterminada */
.navbar
{
    background-color: var(--secondaryBg-color);
    height: 70px;
    padding: 0px;
}
/* Se coloca el color de fondo del menu de hamburguesa y el menu desplegable de la imagen dropdown */
.menu--hamburguesa, .dropdown-menu
{
    background-color: var(--secondaryBg-color);
}
/* Se coloca un margen a la izquierda del logo de Compás para que quede acorde a figma */
.imagen--compasApp
{
    margin-left: 26px;
}

/* Se redimensiona la imagen de perfil */
.perfil
{
    width: 60px;
    height: 60px;
}
/* Un margen que ayuda a centrar */
.margen
{
    margin-right: 206px;
}
/* Configuración del color de texto */
.texto--configuracion, .texto--drop--perfil
{
    color: var(--navbarText-color);
}
/* Color de texto al pasar el cursor */
.texto--configuracion:hover, .texto--drop--perfil, .texto--drop--sesion
{
    color: var(--navbarSelected);
}
/* Color de texto de cerrar sesión del dropdown  */
.texto--drop--sesion:hover
{
    color: red;
}

/********************************* Barra de busqueda *********************************/

/* Se ingresa un margen para que la barra no se superponga con el navbar */
.barra--busqueda
{
    margin-top: 46px;
}

/* Se coloca un border-radios de 10px como se acordó con todo el equipo, un color de borde gris y un tamaño del largo para la sección de navbar*/
.barra--busqueda--contenedor--form
{
    border-radius: 10px;
    border-color: #dee2e6;
    width: 163px;
}
/* Se quita el box shadow predeterminado de bootstrap y se coloca un color de borde cuando el estado de la barra de busqueda se cambia a focus */
.barra--busqueda--contenedor--form:focus
{
    border-color: #dee2e6;
    box-shadow: none;
}

/* Estilo para hacer la barra de búsqueda responsiva */
@media (max-width: 576px)   
{
    .barra--busqueda--contenedor 
    {
        margin-left: 10px;
        margin-right: 10px;
    } 
}

/* Se reasigna un nuevo tamaño al botón de filtrar */
.boton--filtrar
{
    width: 60px;
    height: 37px;
    border-radius: 10px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    cursor: pointer;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

/********************************* Botones predeterminados del filtrado *********************************/
.filtro
{
  margin-top: 41px;
}
.boton--filtros
{
  width: 146px;
  height: 37px;
  margin: 5px 14px;
  border-radius: 10px;
}
#chatsContainer {
     /* Altura fija para el contenedor de mensajes */
    overflow-y: auto; /* Hacerlo desplazable verticalmente */
}

#chat-list-container, #message-container {
    height: 400px; /* Altura fija para los contenedores */
    overflow-y: auto; /* Hacerlos desplazables verticalmente */
}

.artistas
{
    margin: 80px 0;
    height: 604px;
}