@import url("../../../Styles/main.css");
@import "./../../assets/elementos/footer/footer.css";

/* Estilos generales */
.contenedor {
    display: flex;
    align-items: center;
    width: 35%;
    margin-left: 5%;
    background-color: var(--background-color);
    padding-bottom: 2px;
    display: flow-root;
    margin-bottom: 5%;
}

.kawai {
    border-radius: 20px;
    width: 8%;
    height: 8%;
    margin: 10px;
}

.name {
    font-size: 15px;
    margin: 8px 0 5px 0;
    display: flex;
}

.instruments {
    font-size: 10px;
    margin: 1px 0 15px 0;
    display: flex;
}

.linea {
    width: 100%;
    height: 2px;
    background-color: #d6d6d6;
}

.descript {
    margin-left: 8px;
}

.mexicanMusic {
    margin: 10px;
    width: 80%;
}

.comment {
    width: 85%;
    font-size: 20.5px;
}

.material-symbols-outlined {
    margin-left: 10px;
}

.artistas {
    height: 100%;
    width: 15%;
    position: absolute;
    top: 60%;
    right: 10%;
    margin-top: 26%;
    background-color: var(--background-color);
    align-items: center;
    padding-right: 10px;
}

/* Media queries para ajustar tamaños */
@media (max-width: 800px) {
    .anuncios-element .carousel-inner .carousel-anuncios-img,
    .anuncios-element .carousel-anuncios {
        height: 30vh;
    }
}

@media (max-width: 1100px) {
    .mejora {
        background: none;
        border: none;
        padding: 0;
        color: transparent;
    }

    .mejora .material-symbols-outlined {
        color: black;
        position: relative;
        left: -10px;
    }

    #publicarFotoVideo,
    #publicarBusquedaArtista {
        display: block;
    }
}

/* Carousel */
.carousel-img1 {
    align-items: center;
    width: 100%;
    padding-top: 5px;
}

.comment {
    width: 95%;
    margin: 5px;
    border-radius: 5px;
    display: flex;
}

.carousel-principal,
.carousel-anuncios {
    height: 60vh;
    width: 100%;
}

.carousel-principal-img,
.carousel-anuncios-img {
    height: 60vh;
}

.custom-arrow {
    font-size: 3em;
    color: var(--main-color);
}

.carousel-control-next,
.carousel-control-prev {
    justify-content: center;
    align-items: center;
    width: 5vw;
}

.carousel-indicators .active {
    background-color: var(--active-color);
}

/* Nueva publicación */
.nueva--publicacion {
    width: 100%;
    background-color: var(--secondaryBg-color);
}

@media (min-width: 480px) {
    .nueva--publicacion input {
        width: 200px;
    }
}

@media screen and (min-width: 640px) {
    .nueva--publicacion input {
        width: 300px;
    }

    .dashboard-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 767px) {
    .nueva--publicacion input {
        width: 400px;
    }
}

@media (min-width: 864px) {
    .nueva--publicacion input {
        width: 500px;
    }
}

@media (min-width: 992px) {
    .nueva--publicacion input {
        width: 600px;
    }
}

@media (min-width: 1080px) {
    .nueva--publicacion input {
        width: 700px;
    }
}

@media (min-width: 1200px) {
    .nueva--publicacion input {
        width: 800px;
    }
}

@media (min-width: 1360px) {
    .nueva--publicacion input {
        width: 900px;
    }
}

.nueva--publicacion label {
    font-weight: 400;
    font-size: 16px;
}

.nueva--publicacion hr {
    border-width: 2px;
    color: var(--black);
}

.nueva--publicacion img {
    padding: 4px;
}

#imgPublicacion {
    width: 60px;
}

.botones--publicacion {
    display: flex;
    flex-direction: column;
    align-content: center;
}

@media (min-width: 480px) {
    .botones--publicacion {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.botones--publicacion button {
    border: none;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 20px;
}

.nueva--publicacion--alinear {
    padding: 20px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 480px) {
    .nueva--publicacion--alinear {
        flex-direction: row;
    }
}

.modal-title h4 {
    text-align: center;
}

.nueva--publicacion--modal--perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nueva--publicacion--modal--perfil img {
    padding: 4px;
}

.col-md-4 textarea {
    width: 200px;
}

.modal-alinear-botones {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Dashboard */
.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Tu Ritmo */
.publicacion-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-color: var(--secondaryBg-color);
    padding: 16px;
    border-radius: 20px;
    margin-bottom: 16px;
}

.autor-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.autor-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.img-usuario {
    margin-right: 6px;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.img-publicacion {
    object-fit: cover;
    width: 100%;
}

.contenido-publicacion-contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
}

.botones-publicacion-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.reacciones-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-comentario {
    width: 100%;
    margin-bottom: 16px;
}

.comentarios-contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
}

.boton-reaccion {
    margin-left: 16px;
}

/* Anuncios */
.anuncios-element {
    margin-bottom: 16px;
}

/* Estilos específicos para botones en pantallas menores a 600px */
@media (max-width: 1100px) {
    .botones-publicacion-contenedor {
        justify-content: center;
    }

    .boton {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icono {
        margin-right: 0;
    }

    .texto {
        display: none;
    }
}
