@import url(//Styles/main.css); 


.title{
    margin-left: 5%;
    font-size: 39.06px;
    font-family: var(label);
}
.contenedor {
    display: flex;
    align-items: center; /* Centra los elementos verticalmente */
    width: 35%; /* Ancho del contenedor */
    margin-left: 5%; /* Margen izquierdo para centrar el contenedor horizontalmente */
    background-color: var(--background-color); /* Color de fondo del contenedor */
    /*border: 1px solid  var(--main-color); /* Borde del contenedor */
    align-items: flex-start;
    padding-bottom: 2px;
    display:flow-root;
    margin-bottom: 5%;
    
}

.kawai {
    border-radius: 20px;
    width: 8%;
    height: 8%;
    float: inline-start; /* Establece el elemento como bloque en línea */
    margin: 10px ;
    
}

.name{
    font-size: 15px;
    margin: 8px 0 5px 0;
    font-style: bold;
    display: flex;

}

.instruments{

    font-size: 10px;
    font-style: bold;
    margin: 1px 0 15px 0;
    display: flex;
    
}

.linea {
    width: 100%;
    height: 2px;
    background-color: #d6d6d6;

}

.descript{
    margin-left: 8px;
}

.mexicanMusic{
    margin: 10px;
    width: 80%;
    


}


.comment{
    width: 85%;
    font-size: 20.5px;
}

.material-symbols-outlined{
    margin-left: 10px;

}
.artistas {
    height: 100%;
    width: 15%;
    position: absolute;
    top: 60%;
    right: 10%;
    margin-top: 26%;
    background-color: var(--background-color);
    align-items: center;
    padding-right: 10px;
    
}


#carouselExampleArtistas{

    
    height: 30%;
}

#carouselExampleSeBusca{
    padding: 10px;
    height: 30%;
}

#carouselExampleEscenarios{
    height: 30%;


}




.carousel-img1{

    
    width:100%;
    padding-top: 27%;
}


@media screen and (max-width: 600px) {
    .flat {
        visibility: visible;
        background-color: var(--main-color);
        width: 15%;
    }
}
    
.comment{
    width: 95%;
    margin: 5px 5px 5px 5px; 
    border-radius: 5px;
    display: flex;
}

/* Carusel personalizado*/

.carousel-principal{
    height: 60vh;
}

.carousel-principal-img {
    height: 60vh;
}

.custom-arrow {
    font-size: 3em;
    color: var(--main-color);
}

.carousel-control-next,
.carousel-control-prev {
    justify-content: center;
    align-items: center;
    width: 5vw;
}

.carousel-indicators .active{
    background-color: var(--active-color);
}