/* @import url('../Styles/main.css'); */

body { /*Se establecen características generales para todo el documento. El tamaño de letra, la fuente y el color de fondo*/
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--background-color);
}

h4 {
    font-weight: 400;
    font-size: 31.25px;
    color: var(--black);
    text-align: center;
}

.footer--hr {
    width: 100%;
    height: 2px;
    background-color: var(--background-color);
}

.footer { /*Se definen características específicas para el footer*/
    display: flex; 
    margin: 50, 100;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    padding-right: 100px;
    padding-bottom: 25px;
    padding-left: 100px;
}

@media (min-width: 1000px) { /*Se aplica una característica responsive para que en pantallas menores a 480 pixeles los elementos del footer se acomoden en filas centradas que se apilan una debajo de la otra*/
    .footer {
        padding-top: 25px;
        padding-right: 100px;
        padding-bottom: 25px;
        padding-left: 100px;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}



.footer a { /*Se edita el texto de los enlaces del footer para que sean de color gris y sin subrayado de enlace*/
    text-decoration: none;
    color: var(--grey);
}

.copyright { /*Se alinea el icono de copyright con el texto que le precede*/
    display: flex;
    flex-direction: row;
    align-content: center;
    color: var(--grey);
}

.copyright p {
    color: var(--grey);
    font-weight: bold;
    margin: 0;
}