/* @import "../Styles/main.css"; */

.nuestrosServicios{
    text-align: center;
    width: auto;
    height: auto;
    margin: 50px 20px;
    align-content: center;
}

.service-block{
    text-align: center;
    width: auto;
    height: auto;
    margin: 30px 20px;
    display: inline-block; 
    align-content: center;
}

.material-symbols-outlined {
    font-size: 50px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined:hover{
    /*font-size: 60px;*/
    color: var( --main-color);
}