
/* Se importan los diseños principales de main.css */
/* @import url(../Styles/main.css);  */

/* !!!Eliminar el margin cuando se incorpore a el archivo principal!!! */
.nuestro-equipo {
    text-align: center;
}

/* Separa el contenido del titulo principal */
.nuestro-equipo h3{
    margin-bottom: 50px;
}


/* Muestra las cartas en forma de Grid con diseño responsivo sin media querry */
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(204px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(1fr, 330px));
    gap: 30px 100px;
}

/* Elimina estílo de los itmes de lista y alinea a la izquierda para mejor visibilidad */
.card li{
    list-style-type: none;
    margin: 4px;
    text-align: left;
}


/* Agrega estílo a las imágenes */
.card img{
    margin: 10px 20px;
    height: 126px;
    border-radius: 10px;
}

/* Incrementa el tamaño de los iconos */
.card-link{
    font-size: 1.5rem;
}