@import url(../../../Styles/main.css);
@import "bootstrap/scss/variables";


/* alinea el titulo al centro y le da margin */
.registroDeUsuario--heading{
    text-align: center;
    margin-top: 46px;
    margin-bottom: 70px ;
}


/* acomoda los botones para que no esten tan a la orilla */
.registroDeUsuario--form--buttons{
    padding: 0px 50px;
}


/* espaciado entre botones */
#registrarme {
    margin: 0px 15px;
}


/* espaciado entre botones */
#cancelar {
    margin: 0px 15px;
}

/* pone a la misma altura los dropdowns y los demas inputs */
#inputEstado, #inputCiudad {
    height: 58px;
    font-size: 12.8px;
}

