
 @import url(../Styles/main.css);

h3{
    text-align: center;
    font-weight: 400; 
    font-size: 31.25px;
}

.name{
    text-align: center;
    margin: 5px;

}
.name input{
    border: 1px solid var(--main-color);
    border-radius: 5px;
    width: 250px;
}

.phone {
    text-align: center;
    margin: 5px;
    
}

.phone input {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    width: 250px;
}





.email {
    text-align: center;
    margin: 5px;
    
}

.email input {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    width: 250px;
}

.message {
    text-align: center;
    margin: 5px;
}

.message textarea{
    border: 1px solid var(--main-color);
    border-radius: 5px;
    width: 250px;
    padding: 3px;
}

.button{
    width: 100px;
    padding: 4px;
    color: white;
    border-radius: 5px;
    background-color: var(--main-color);
    margin-left: 46.5%;
}

.button:hover{
    background-color: var(--hover-color)
}

@media screen and (max-width: 800) {
    .button  {
        margin-left: 46.5% ;
        
        
    
    }
}

