:root { /*Se define una lista de colores que luego serán utilizados a lo largo del proyecto con nombres fáciles de recordar*/
    --background: #f8f8f8;
}

html { /*Se establece border-box en todo el proyecto para facilitar la implementación de paddings y otros elementos fácilmente*/
    box-sizing: border-box;
}

*,*:before,*:after { /*Una extensión del border-box que amplia su uso*/
    box-sizing: inherit;
}

body { /*Se establecen características generales para todo el documento. El tamaño de letra, la fuente y el color de fondo*/
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--background);
}

.footer { /*Se definen características específicas para el footer*/
    margin: 50, 100;
    font-weight: bold;
    display: flex; 
    align-items: center;
    flex-direction: column;
}

@media (min-width: 480px) { /*Se aplica una característica responsive para que en pantallas menores a 480 pixeles los elementos del footer se acomoden en filas centradas que se apilan una debajo de la otra*/
    .footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}

.footer a { /*Se edita el texto de los enlaces del footer para que sean de color negro y sin subrayado de enlace*/
    text-decoration: none;
    color: black;
}

.copyright { /*Se alinea el icono de copyright con el texto que le precede*/
    display: flex;
    align-items: center;
}