@import url("../../../../Styles/main.css");

body
{
    background-color: var(--background-color);
    overflow-y: none;
}
/********************************* Navbar *********************************/
/* Se coloca el color de fondo del cuerpo principal de la navbar, así como su altura predeterminada */
.navbar
{
    background-color: var(--secondaryBg-color);
    height: 70px;
    padding: 0px;
}

/* Se coloca un margen a la izquierda del logo de Compás para que quede acorde a figma */
.imagen--compasApp
{
    margin-left: 26px;
}

/* Se redimensiona la imagen de perfil */
.perfil
{
    width: 60px;
    height: 60px;
}

/* Configuración del color de texto */
.texto--configuracion, .texto--drop--perfil
{
    color: var(--navbarText-color);
}
/* Color de texto al pasar el cursor */
.texto--configuracion:hover, .texto--drop--perfil, .texto--drop--sesion
{
    color: var(--navbarSelected);
}
/* Color de texto de cerrar sesión del dropdown  */
.texto--drop--sesion:hover
{
    color: red;
}

/* Estilo para hacer la barra de búsqueda responsiva */
@media (max-width: 576px)   
{
    .imagen--compasApp
    {
        width: 50%;
        height: auto;
    }
    .perfil
    {
        width: 30px;
        height: 30px;
    }
    .navbar
    {
        height: 40px;
    } 

}

.dropdown-center .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
  }