@import url(../Styles/main.css);

* {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.nuestro-equipo{
    text-align: center;
    margin: 0px 100px;
}

.nuestro-equipo h2{
    margin-bottom: 30px;
}


.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(204px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(330px, 1fr));
    gap: 30px 60px;
    font-weight: lighter;
}

.card-body h5 {
    margin: 6px;
}

.card-body p {
    margin: 10px;
}

.card{
    display: inline-block;
    background-color: var(--secondaryBg-color);
    border: 1px var(--background-color) solid;
    border-radius: 20px;
    padding: auto 10px;
}

.card li{
    list-style-type: none;
    padding: 0px 60px;
    text-align: left;
    margin: 4px;
}
.card ul{
    margin: 0;
    padding: 0;
}

.card img{
    height: 126px;
    margin: 10px;
    border-radius: 10px;
}

.card-links{
    margin: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.5rem;
}


#linkedin {
    text-align: left;
    text-decoration: none;
}

#github {
    text-align: right;
    text-decoration: none;
}

.card-links a:link, a:visited{
    color: black;
}
.card-links a:hover{
    color: hsl(0, 0%, 30%);
}
