@import url(../Styles/main.css);
html { /*Se establece border-box en todo el proyecto para facilitar la implementación de paddings y otros elementos fácilmente*/
    box-sizing: border-box;
}

*, *:before, *:after { /*Una extensión del border-box que amplia su uso*/
    box-sizing: inherit;
}

body { /*Se establecen características generales para todo el documento. El tamaño de letra, la fuente y el color de fondo*/
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--background-color);
}

h3 { /*Se define tamaño de la fuente del subtítulo "Nuestros Proyectos"*/
    font-size: 39px;
}

#logo-proyectos { /*Se ajusta el tamaño del logo de Compás App*/
    width: 150px;
}

.nuestros-proyectos { /*Se establecen características de la sección "Nuestros Proyectos"*/
    margin: 0, 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-proyectos { /*Se establece el tamaño, color de fondo y alineación de la tarjeta donde se ubica el logo y el un enlace hacia la plataforma de Compás App*/
    width: 200px;
    height: 290px;
    background-color: var(--secondaryBg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#icono-enlace { /*Se alinea el icono hacia el enlace externo con respecto al resto de la tarjeta donde ubica*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

