@import url("../Styles/main.css");

/********************************* Navbar *********************************/
/* Se coloca el color de fondo del cuerpo principal de la navbar, así como su altura predeterminada */
.navbar
{
    background-color: var(--secondaryBg-color);
    height: 70px;
    padding: 0px;
}
/* Se coloca el color de fondo del menu de hamburguesa y el menu desplegable de la imagen dropdown */
.menu--hamburguesa, .dropdown-menu
{
    background-color: var(--secondaryBg-color);
}
/* Se coloca un margen a la izquierda del logo de Compás para que quede acorde a figma */
.imagen--compasApp
{
    margin-left: 26px;
}
/* Se configura el tamaño de configuración */
.buscador--configuracion
{
    width: 161px;
    height: 40px;
}
/* Se configura el color y la sombra que tendrá el buscador al ingresar texto */
.buscador--configuracion:focus
{
    border-color: var(--main-color);
    box-shadow: 0 0 5px var(--main-color);
}
/* Se redimensiona la imagen de perfil */
.perfil
{
    width: 60px;
    height: 60px;
}
/* Un margen que ayuda a centrar */
.margen
{
    margin-right: 206px;
}
/* Configuración del color de texto */
.texto--configuracion, .texto--drop--perfil, .texto--drop--sesion
{
    color: var(--navbarText-color);
}
/* Color de texto al pasar el cursor */
.texto--configuracion:hover, .texto--drop--perfil, .texto--drop--sesion
{
    color: var(--navbarSelected);
}
.texto--drop--sesion:hover
{
    color: red;
}