@import "../Styles/main.css";

/* ------------Header (Portada y foto de perfil) ------------*/
header{
    width: 100%;
    max-width: 100%;
    height: 538px;
}
.header--portada{
    width: 100%;
    max-width: 100%;
    height: 400px;
    background-image: url("img/fotoPortada.png");
    background-size: cover;
}
.header--fotoPerfil{
    margin-left: 100px;
    display: flex;
    justify-content: start;
    align-items:center;
}
.header--fotoPerfil img{
    width: 250px;
    position: absolute;
} 

/* ------------Información del perfil de usuario ------------*/

.profile{
    display: flex;
    justify-content: space-between;
}

.profile--info--nombreySeguidores{
    display: flex;
    align-items: center;
}
.profile--info--nombreySeguidores--nombre{
    margin-right: 14px;
    max-width: 372px;
}
.profile--info--nombreySeguidores--nombre h1{
    font-weight: bold;
}

.profile--info--nombreySeguidores--seguidores h5{
    font-weight: bold;
    color: var(--grey);
}

.profile--info--ubicacion{
    margin-top: 16px;
}

.profile--info--enfoque{
    margin-top: 24px;
    display: flex;
}

.profile--info--enfoque--instrumentos{
    margin-right: 60px;
}

.profile--info--enfoque--instrumentos h5{
    font-weight: 500;
}

.profile--info--enfoque--instrumentos p{
    font-weight: bold;
    color: var(--grey);
}

.profile--info--enfoque--generos{
    margin-right: 60px;
}

.profile--info--enfoque--generos h5{
    font-weight: 500;
}

.profile--info--enfoque--generos p{
    font-weight: bold;
    color: var(--grey);
}

.profile--info--demo{
    margin-top: 38px;
    background-color: var(--black);
    width: 700px;
    height: 110px;
    border-radius: 10px;
}

.profile--info--demo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 28px 15px 22px;
}

.profile--info--demo--img{
    background-image: url('../../src/assets/perfilPublico/img/perfil-demo-img.jpg');
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.profile--info--demo--titulo h3,
.profile--info--demo--titulo h5{
    color: var(--white);
}



/* .profile--follow{
    margin-left: 114px;
} */
.profile--follow--buttons{
    display: flex;
}

.profile--follow--buttons--seguir{
    background-color: var(--main-color);
    color: var(--white);
    margin-right: 52px;
}
.profile--follow--buttons--seguir:hover{
    background-color: var(--hover-color);
}

.profile--follow--buttons--donar{
    background-color: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.profile--follow--mensaje{
    margin-top: 32px;
}
.profile--follow--mensaje h4{
    font-weight: bold;
}

.profile--follow--mensaje h4 span{
    margin-left: 32px;
}

.profile--follow--redes{
    font-display: flex;
}

.profile--follow--redes img{
    width: 40px;
    margin-right: 36px;
    margin-top: 20px;
    cursor: pointer;
}

/* ----------Sección de demos   /   Sección de Escenarios------------- */
.escenarios,
.demos{
   margin-top: 46px;
}

.escenarios hr,
.demos hr{
    margin-top: 16px;
    margin-bottom: 32px;
}

.escenarios--cards,
.demos--cards{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.escenarios--cards--item,
.demos--cards--item{
    width: 286px;
    max-width: 286px;
    height: 286px;
    max-height: 286px;
}

.escenarios--cards--item img,
.demos--cards--item img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.escenarios--item,
.demos--item{
    width: 286px;
    height: 286px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.escenarios--item img,
.demos--item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.escenarios--item--info,
.demos--item--info{
    border-radius: 10px;
    position: absolute;
    text-align: center;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.escenarios--item--info .card-title,
.demos--item--info .card-title{
    margin: 0;
    padding: 0;
}

.escenarios--item--info h4{
    margin-top: 4px;
    margin-bottom: 6px;
}

.escenarios--item--info button,
.demos--item--info button{
    margin-top: 18px;
}

/* ------Acerca de -------- */
.acerca{
    margin-top: 50px;
}

.acerca .linea{
    margin: 16px 0 32px 0;
}

.acerca--info {
    width: 600px;
    max-width: 600px;
}

.acerca--info p:nth-child(2){
    font-weight: bold;
    color: var(--grey);
    cursor: pointer;
}

/* Sección Recomendaciones */

.recomendaciones--carousel .carousel .carousel-inner{
    display: flex;
    align-items: center;
}

.recomendaciones--carousel--item{
    height: 226px;
    width: 726px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 54px;
}

.recomendaciones--carousel--item--info{
    width: 754px;
}


/* ------------Sección similares------------ */

.similares{
    margin-top: 38px;
}

.similares hr{
    margin: 16px 0 32px 0;
}
.similares--item{
    width: 184px;
    height: 400px;
}

.sistem--item--info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.similares--item--info h5{
    font-weight: bold;
}
.similares--item img{
    width: 100%;
    height: 184px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}
.similares--item--info span{
    margin-top: 6px;
}
.similares--item--info span:nth-of-type(2){
    color: var(--grey);
}
.similares--item--info button{
    margin-top: 25px;
    width: 128px;
    position: absolute;
    bottom: 20px;
}



/* ---------CARRUSEL----------- */
.carousel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel--prevArrow,
.carousel--nextArrow{
    cursor: pointer;
}


.carousel--cards{
    width: 80%;
    display: flex;
    align-items: center;
    gap: 30px;
    overflow-x: hidden;
}

