@import url(../../../Styles/main.css);

/* acomodo del contenido principal */
.inicioDeSesion {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

/* alineacion del contenido del formulario */
.inicioDeSesion--formContainer {
  text-align: center;
  padding: 22px;
}

/* espaciado en el formulario */
.inicioDeSesion--formContainer form {
  padding: 22px;
}

/* ajustar tamaño de la imagen */
.inicioDeSesion--imagen img {
  width: 400px;
}

/* alineacion de los botones */
.inicioDeSesion--form--buttons {
  margin: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* espaciado entre los botones */
.inicioDeSesion--form--buttons button,
.inicioDeSesion--form--buttons a {
  margin: 11px;
}

/* animacion de los botones */
.inicioDeSesion--form--buttons button:hover {
  transform: scale(1.05);
  transition: transform 300ms;
  margin: 11px;
}

/* animacion del boton de registro */
.inicioDeSesion--form--buttons a:hover {
  transform: scale(1.02);
  transition: transform 300ms;
  margin: 11px;
}

#contenedorAlerta {
  margin-top: 20px;
}

@media screen and (max-width: 900px) {
  .inicioDeSesion--imagen img {
    /* position: fixed;
        margin: 50px;
        z-index: -1;
        top: 0;
        left: 0;
        width: 300px;
        opacity: 0.7; */
    display: none;
  }
  .inicioDeSesion {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inicioDeSesion--formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inicioDeSesion--formContainer {
    background-image: url(./assets/bandaAnimadaInicio.png);
    background-color: rgba(255, 255, 255, 0.4);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: lighten;
  }
  main {
    margin: 0;
  }
}
