@import url(../Styles/main.css);

.img-sett
{
    margin: 0px;
    width: 48px;
    margin-left: 46px;
    padding: 0;
}
.navbar
{
    background-color: var(--secondaryBg-color);
    height: 70px;
    padding: 0px;
}
.sidebar
{
    background-color: var(--secondaryBg-color);

}

.btn-config
{
    
    margin-top: 2px;
    padding: 0px;
    width: 102px;
    height: 37px;
    font-size: 14px;
    border-radius: 6px;
    background-color: var(--main-color);
    color: var(--secondaryBg-color);
    
}
.btn-config:hover
{
    background-color: var(--hover-color);
    color: var(--secondaryBg-color);
}
.colorText 
{
    color: var(--navbarText-color); 
    font-size: 20px;
}
.colorText:hover
{
    color: var(--navbarSelected); 
}

.text-config
{
    font-size: 20px;
}

.burguer-button {
    background-color: var(--main-color);
    color: var(--secondaryBg-color);
}
    